
<div *ngIf="nodeContent">
    <h2><span jhiTranslate="hsearchmApp.nodeContent.detail.title">Node Content</span> {{nodeContent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="hsearchmApp.nodeContent.title">Title</span></dt>
        <dd>
            <span>{{nodeContent.title}}</span>
        </dd>
        <dt><span jhiTranslate="hsearchmApp.nodeContent.content">Content</span></dt>
        <dd>
            <span>{{nodeContent.content}}</span>
        </dd>
        <dt><span jhiTranslate="hsearchmApp.nodeContent.node">Node</span></dt>
        <dd>
            <div *ngIf="nodeContent.node">
                <a [routerLink]="['/node', nodeContent.node?.id]">{{nodeContent.node?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'node-content/'+ nodeContent.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
